.deals {
    background: #63a12f;
    color: #fff;
    padding-top: rem(100px);
    position: relative;

    .container {
        text-align: center;
        padding-left: 0;
        padding-right: 0;

    }

    @include mobile {
        padding-top: rem(50px);

    }

}

.deals__title {
    margin: 0 auto;
    text-align: center;
    margin-bottom: rem(100px);
    position: relative;
    display: inline-block;
    &:before {
        content: '';
        position: absolute;
        bottom: rem(-10px);
        left: 13px;
        width: 43px;
        height: 5px;
        background: $orange;

        @include mobile {
            left: 50px;

        }

    }
    &:after {
        content: '';
        position: absolute;
        bottom: rem(-10px);
        left: 0;
        width: 5px;
        height: 5px;
        background: #898989;

        @include mobile {
            left: 61px;

        }
    }

}

.deals__services {
    margin: 0 auto;
}

.deals__item {
    display: inline-block;
    margin-right: rem(23px);
    position: relative;
    width: 20%;
    a {
        color: #fff;
    }

    @include tablet {
        width: 44%;
        margin-bottom: rem(140px);
    }

    @include mobile-wide {
        width: 73%;
    }
}

.deals__text {
    position: absolute;
    text-align: center;
    top: 100%;
    left: 0;
    padding: 1% 16%;

    background: #63a12f;
    width: 100%;
    min-height: rem(94px);
    display: flex;
    align-items: center;

    font-size: 95%;

    @include tablet {
        background: #383838;

    }

}

.deals__bottom {
    background: #383838;
    padding-top: rem(188px);
    padding-bottom: rem(86px);
    @include ipad {
        padding-top: rem(140px);
        padding-bottom: rem(70px);
    }

    @include tablet {
        padding-top: rem(150px);

    }

}

.deals_text_block {
    margin: 0 auto;
    @include ipad {
        width: 54%;
        text-align: center;

    }

    @include mobile {
        width: 95%;
    }
}

.deals__cta_text {
    font-size: rem(35px);
    color: #fff;
    display: inline-block;
    vertical-align: middle;

    @include desktop-1280 {
        margin-bottom: rem(20px);
        line-height: 1.2;
        display: block;
    }

}

.deals__cta_button {
    display: inline-block;
    vertical-align: middle;
    margin-left: rem(67px);
    .btn {
        padding: rem(15px) rem(50px);
    }

    @include ipad {
        display: block;
        margin-left: 0;

    }
}

