header {
    background: linear-gradient(115deg, $orange 47%, #eb7050 47%);
    padding: rem(21px) 0;

    @include laptop {
        background: linear-gradient(115deg, #e9603c 42%, #eb7050 42%);

    }


    .left-block {
        float: left;

        @include ipad {
            width: 31%;
            margin-left: rem(68px);
        }

        //@include laptop {
        //    width: 31%;
        //    margin-left: rem(68px);
        //}

        @include laptop {
            width: 29%;

        }

        @include mobile {
            width: 72%;
        }

    }

    .right-block {
        float: right;

        @include ipad {

            width: 61%;

        }

        @include laptop {
            width: 58%;

        }

        //@include tablet {
        //    width: 60%;
        //    float: left;
        //}

        //@include tablet {
        //    width: 59%;
        //}

        @include mobile {
            display: none;
        }
    }

}

.contacts__left, .contacts__right {
    color: #fff;
    display: inline-block;
    vertical-align: top;
    margin-top: rem(15px);

    @include ipad {
        margin-top: 0;
    }

    //@include laptop {
    //    margin-top: rem(5px);
    //    display: block;
    //    float: left;
    //}

    @include tablet {
        width: 46%;
        margin-top: 0;
    }

}

.contacts__left {
    margin-left: 22%;

    @include desktop {
        margin-left: 8%;
    }

    @include ipad {
         margin-left: 13%;
     }

    @include laptop {
        margin-left: 7%;
    }

    //@include tablet {
    //    margin-left: 7%;
    //}

    @include tablet {
        margin-left: 5px;
    }
}

.contacts__right {
    margin-left: rem(48px);

    //@include laptop {
    //    margin-left: 1rem;
    //}

    .contacts__icon {
        padding: rem(9px);

        @include laptop {
            padding: rem(3px);
        }

        @include tablet {
            padding: 0;
        }
    }

    @include laptop {
        margin-left: 0;
    }
}

.contacts__icon {
    float: left;
    width: rem(43px);
    height: rem(43px);
    margin-right: rem(15px);
    border-radius: 50%;
    border: 2px solid #fff;
    padding: rem(12px);
    text-align: center;
    i {
        color: #fff;
        font-size: rem(18px);

        @include laptop {
            font-size: rem(14px);
        }

        @include tablet {
            font-size: rem(10px);

        }
    }

    @include laptop {
        width: rem(30px);
        height: rem(30px);
        padding: rem(5px);
        margin-right: rem(9px);

    }

    @include tablet {
        width: rem(25px);
        height: rem(25px);
        padding: rem(5px);
        margin-right: rem(5px);
        vertical-align: text-top;
        padding: 0;
    }

}

.contacts__text {
    float: left;

    @include laptop {
        width: 76%;
    }

}

.contacts__text_upper {
    font-size: rem(16px);
    font-weight: 700;
    line-height: 1;
    padding-bottom: rem(8px);

    @include tablet {
        font-size: rem(12px);

    }
}

.contacts__text_bottom {
    font-size: rem(13px);
    @include tablet {
        font-size: rem(10px);

    }
}