.info__strip{
    background: #f2f2f2;
    padding-top:rem(70px);
    padding-bottom:rem(70px);
    text-transform: uppercase;

    @include desktop-1150 {
        padding-bottom:rem(38px);
    }

    @include tablet {
        padding-top:rem(30px);
        padding-bottom:rem(25px);
    }

}
.info__wrap{
    margin:0 auto;
    @include desktop-1150 {
        width: 80%;

    }

    @include laptop {
        width: 100%;
        text-align: center;
    }
}

.info__item{
    width:24.7%;
    display: inline-block;
    vertical-align: top;
    
    @include desktop-1150 {
        width:49%;
        margin-bottom:rem(40px);
        display: block;
        float: left;
        text-align: left;

    }

    @include mobile-wide {
        width: 80%;
    }
}

.info__icon{
    display: inline-block;
    vertical-align: top;
    
    @include tablet {
        margin-bottom:10px;
    }
}
.info__text{
    display: inline-block;
    margin-left:rem(15px);
    

}

.info__title{
    font-size: 200%;

    font-weight: 700;
    margin-bottom:rem(4px);
    

}

.info__subtitle{
    font-size:rem(15px);
}
