.main__banner_home {
    position: relative;
    background-image: url('../img/bg/home-banner-bg.jpg');

    background-position: 90% bottom;
    background-repeat: no-repeat;
    padding-top: rem(100px);
    padding-bottom: rem(37px);
    background-size: contain;

    @include ipad {
        background-position-x: 95%;
        background-size: 79%;
        padding-top: rem(50px);
    }

    @include laptop {
        background-position-x: 95%;
        background-size: 79%;

    }

    @include tablet {
        background-position-x: 95%;

    }

    @include mobile {
        background-image: none;
    }

    h2 {
        font-size: rem(62px);
        font-weight: 700;
        margin-bottom: rem(19px);
        line-height: 1;

        @include mobile {
            font-size: 31px;

        }
    }

}
.banner__subtitle {
    font-size: rem(20px);
    color: #929292;
    margin-bottom: rem(30px);

}
.form__title {
    color: #fff;
    font-size: rem(30px);
    margin-bottom: rem(100px);

    @include mobile {
        font-size: rem(25px);
        margin-bottom: rem(70px);
    }
}

/* ---------- loan slider ----------*/
.banner__payday-slider {
    width: 90%;
    //height: rem(287px);
    background: $orange;
    border-radius: 20px;
    margin-bottom: rem(37px);
    text-align: center;
    padding: rem(42px) rem(45px);

    @include ipad {
        width: 94%;
    }

    @include laptop {

        width: 50%;
    }

    @include mobile {
        width: 100%;
    }

}
#ex1Slider {
    width: 97%;
    margin-bottom: rem(28px);

    @include mobile {
        margin-bottom: rem(20px);

    }

}
.slider-handle {
    width: rem(35px);
    height: rem(35px);
    background: $green;
    top: rem(-8px);

    @include mobile {
        width: rem(25px);
        height: rem(25px);
        top: -3px;

    }

}
.slider.slider-horizontal .slider-track {
    height: 7px;
}
.tooltip-arrow {
    left: 57%;
    bottom: rem(11px);
    border-top-color: #fff;
}
.tooltip.top .tooltip-arrow {
    border-top-color: #fff;
}
.tooltip-inner {
    background: #fff;
    color: $green;
    @include oswald('regular', rem(24px));
    font-weight: 700;
    padding: rem(6px) rem(16px);
    border-radius: 20px;

    @include mobile {
        font-size: rem(20px);
        padding: rem(4px) rem(20px);

    }

}
.slider .tooltip.tooltip-main.top {
    margin-top: rem(-77px);
    z-index: 956;

    margin-left: rem(-42px) !important;
    opacity: 1;

    @include mobile {
        margin-top: -45px;
        margin-left: -37px !important;
    }
}
.slider-values {
    color: #fff;
    @include oswald('regular', rem(29px));

    @include mobile {
        font-size: rem(23px);

    }
}
.min-number {
    float: left;
}
.max-number {
    float: right;
}
.slider__submit-button {
    text-align: left;

    @include mobile {
        text-align: center;
    }
}
.btn {
    @include montser('bold', rem(27px));
    border-radius: 25px;
    padding: rem(19px) rem(53px);
    text-transform: uppercase;
}
.btn-success {
    background: $green;

}


/* ---------- contact us page ----------*/
.contact-us {
    background-image: url('../img/bg/banner_contacts.jpg');
    background-size: 100%;
    background-position: 45% 10%;
    padding-top: 14%;

    padding-bottom: rem(102px);

    @include tablet {
        background-size: 250%;
        background-position: 3% 45%;
    }




}
.banner__subscription-form {
    background: $orange;
    border-radius: 20px;
    margin-bottom: rem(37px);
    text-align: center;
    padding: rem(42px) rem(33px);

}
.banner__title {
    width: 75%;

    @include desktop {
        width: 80%;
    }

    @include ipad {
        width: 100%;
        text-align: center;
    }

    @include laptop {
        width: 100%;
        text-align: center;

    }

    @include tablet {
        width: 100%;

    }
}
.title {
    h3 {
        text-align: left;
        color: #fff;
        font-size: rem(45px);

        @include mobile {
            font-size: rem(35px);

        }
    }
}
.sf__text {
    color: #fff;
    font-size: rem(20px);
    font-weight: 400;
    line-height: 1.2;
    text-align: left;
    margin-bottom: rem(30px);


}
.form-control {
    border-radius: 20px;
    font-size: rem(25px);
    padding: rem(30px) rem(40px);
    margin-bottom: rem(20px);
    border-color: #dfdfdf;

    @include mobile {
        font-size: rem(20px);
        padding: rem(20px) rem(30px);
        margin-bottom: rem(15px);
    }
}
.sf__form {
    width: 95%;

    .btn{
        background: $green;
        color: #fff;
        width: 100%;

        &:hover{
            background-color: #449d44;
            border-color: #398439;
        }

        @include ipad {
            font-size:rem(21px);
            padding: rem(15px) rem(10px);

        }

        @include mobile {
            white-space: normal

        }
    }
}


/* ---------- bad-credit ----------*/
.bad-credit{
    background-image: url('../img/bg/bad-credit-bg.jpg');
    background-size: 110%;
    background-position: rem(-160px) rem(-8px);
    padding-top: 12%;

    padding-bottom: rem(102px);

    @include desktop {
        background-position-x:rem(-50px);

    }

    @include mobile {
        background-size:cover;
    }

}

.payday-loan{
    background-image: url('../img/bg/payday-loan.jpg');

}

.panel_orange{


    background: $orange;
    border-radius: 20px;
    margin-bottom: rem(37px);
    padding: rem(42px) rem(33px);

    .panel__button{
        text-align: center;
    }


}

.panel__content{
    margin-bottom:rem(40px);

}

.panel__text{
    margin-bottom:rem(25px);


}

.panel__title{
    width: 60%;

    h3{
        color: #fff;

        font-size:rem(45px);
        text-transform: none;
        line-height:1.2;
        
        @include mobile {
            font-size:rem(32px);

        }



    }

    @include desktop-1150 {
        width:75%;

    }
    
    @include tablet {
        width: 100%;
    }
    
    @include mobile {
        width: 80%;
    }


}

.panel__subtitle{
    color: #f3f3f3;
    font-size:rem(20px);

}

.panel__check_item{
    margin-bottom: rem(20px);

    .icon{
        background-image: url('../img/decor/check-circle-outline.png');
        width:rem(45px);
        height:rem(45px);
        background-size:contain;
        background-repeat:no-repeat;
        display: inline-block;
        vertical-align: bottom;
        
        @include ipad {
            width:rem(35px);
            height:rem(35px);

        }
        @include tablet {
            width:rem(45px);
            height:rem(45px);
        }


    }

    .check__item_text{
        @include oswald('regular', rem(30px));
        color: #fff;
        text-transform: uppercase;
        margin-left:rem(30px);
        display: inline-block;
        vertical-align: middle;

        @include desktop-1150 {
            font-size:rem(26px);
        }
        
        @include ipad {
            font-size:rem(22px);

        }
        
        @include tablet {
            font-size:rem(30px);

        }

        
        @include mobile {
            width: 74%;
            font-size:rem(22px);
        }
    }




}

/* ---------- about us ----------*/
.about-us{
    background-image: url('../img/bg/about-us-bg.jpg');
    background-size:cover;
    background-position: top;

    .panel_orange{
        padding-left:rem(65px);
        padding-right:rem(65px);
        
        @include mobile-wide {
            padding-left:rem(50px);
            padding-right:rem(50px);
        }
    }

    .panel__text{
        text-align: center;
    }

    .panel__title{
        width: 96%;
        color: #fff;
        margin-bottom:rem(35px);

        @include mobile {
            width: 100%;
        }
    }

    h3{
        color: #fff;
        font-size:rem(55px);
        font-weight:400;

        margin-bottom:rem(25px);
        
        @include mobile {
            font-size:rem(33px);

        }
        .bold{
            font-weight:700;
        }

    }

    .panel__subtitle{
        text-align: center;
        font-size:rem(26px);
        line-height: 1.5;
        width:90%;


    }

    .panel__content{
        text-align: center;
        color: #fff;
        font-size:rem(12px);
        line-height: 1.9;

    }

}

/* ---------- payload ----------*/
.payload{
    background-image: url('../img/bg/payload-bg.jpg');
    background-size:cover;
    background-position: top;
    padding-top:rem(140px);
    padding-bottom:rem(140px);



    .panel__title{
        width: 100%;
        color: #fff;
        h3{
            font-size:rem(42px);
            
            @include mobile {
                font-size:rem(30px);

            }
        }


    }

    .panel__desc{
        color: #fff;
        font-size:rem(22px);
        line-height: 1.42;


    }

    .panel__columns{
        text-align: center;
    }

    .panel__col_img{
        border-radius:50%;
        background: #fff;
        width:rem(95px);
        height:rem(95px);
        padding:rem(16px) rem(20px);
        margin-bottom:rem(20px);
        display: inline-block;




        span{
            zoom: 0.65;
            
            @include mobile {
                zoom: 0.5;
            }
        }

        .apply{
            padding:rem(11px) rem(25px);
            @include mobile {
                padding:rem(15px) rem(19px);

            }
        }

        @include mobile {
            padding:rem(15px) rem(19px);

        }
    }
    
    .panel__col_text{
        color: #fff;
        @include oswald('regular', rem(15px));
        text-transform: uppercase;
        text-align: center;
        margin-bottom:rem(40px);
        line-height: 1.6;

    }


}

/* ---------- faq ----------*/
.faq{
    background-image: url('../img/bg/faq-bg.jpg');
    background-size:cover;
    background-position: top;

    .panel__title,.panel__desc{
        text-align: center;
    }
}

/* ---------- how it works ----------*/
.howitworks{
    background-image: url('../img/bg/howitworks-bg.jpg');

}







