.payload{
    background-size:cover;
    background: url('../img/bg/payload-bg.jpg') top;
    padding-bottom:rem(140px);
    
    @include ipad {
        padding-top:rem(140px);

    }



    .panel__title{
        width: 100%;
        color: #fff;
        h3{
            font-size:rem(42px);

            @include mobile {
                font-size:rem(30px);

            }
        }


    }

    .panel__desc{
        color: #fff;
        font-size:rem(22px);
        line-height: 1.42;


    }

    .panel__columns{
        text-align: center;
    }

    .panel__col_img{
        border-radius:50%;
        background: #fff;
        width:rem(95px);
        height:rem(95px);
        padding:rem(16px) rem(20px);
        margin-bottom:rem(20px);
        display: inline-block;




        span{
            zoom: 0.65;

            @include mobile {
                zoom: 0.5;
            }
        }

        .apply{
            padding:rem(11px) rem(25px);
            @include mobile {
                padding:rem(15px) rem(19px);

            }
        }

        @include mobile {
            padding:rem(15px) rem(19px);

        }
    }

    .panel__col_text{
        color: #fff;
        @include oswald('regular', rem(15px));
        text-transform: uppercase;
        text-align: center;
        margin-bottom:rem(40px);
        line-height: 1.6;

    }


}

.how-apply {
    padding-top: rem(140px);
    padding-bottom: rem(140px);
    text-align: center;

}

.section__title {
    width: 75%;
    margin: 0 auto;

    @include mobile {
        width: 100%;
    }

    h3 {
        margin-bottom: rem(50px);
        font-size:rem(45px);


    }

    .section__title_text {
        line-height: 1.5;
        color: #777676;
        margin-bottom: rem(50px);

    }
}

.how-apply__list {
    margin-bottom: rem(50px);

}

.how-apply__item {
    display: inline-block;
    vertical-align: top;
    margin-right: 4%;
    position: relative;
    width: 15%;
    
    @include desktop {
        margin-right: 1%;

    }

    @include desktop-1280 {
    }

    @include laptop {
        margin-right:6%;
        width: 20%;
        margin-bottom:rem(30px);

    }

    @include mobile {
        display: block;
        text-align: center;
        width: 100%;
    }

    &:first-child {
        &:before {
            display: none;
        }
    }

    .item__icon {
        background: $green;
        border-radius: 50%;
        width: rem(160px);
        height: rem(160px);
        text-align: center;
        padding: rem(29px);
        margin-bottom: rem(20px);

        
        

        @include desktop {
            width: rem(140px);
            height: rem(140px);
        }

        @include mobile {
            display: inline-block;
        }
        span {
            zoom: 0.85;
            display: inline-block;
            
            @include desktop {
                zoom: 0.8;

            }

            @include laptop {
                zoom: 0.75;
                
            }
        }
    }

    .item__text {
        color: #666666;
        font-size: rem(22px);
        font-weight: 700;
    }

    &:before {
        position: absolute;
        content: '...';
        font-size: rem(50px);
        color: #cccccc;
        right: 120%;
        top: 22%;
        
        @include desktop {
            right: 108%;

        }

        @include desktop-1280 {
            left:rem(-39px);
        }
        
        @include desktop-1150 {
            display: none;

        }

    }
}

.payload__content {
    background: #f8f8f8;
    padding-top: rem(140px);
    padding-bottom: rem(140px);
    text-align: center;



}

.payload__content_col {
    text-align: center;

    margin-bottom:rem(30px);

}

.pl__content_icon {
    background: $green;
    text-align: center;
    display: inline-block;
    padding:rem(48px);

    width: rem(250px);
    height: rem(250px);
    border-radius: 50%;
    margin-bottom: rem(20px);

    span {
        display: inline-block;
        
        @include mobile {
        zoom: 0.8;
        }
    }
}

.chrono{
    padding:rem(30px);
}

.pl__title{
    color: $green;
    font-size:rem(25px);
    margin-bottom: rem(20px);

}

.pl__desc{
    color: #6d6d6d;
    line-height: 1.5;
}

.payload__wide-section{
    .wide-section__img{
        background-image: url('../img/bg/ws-payload.jpg');

    }
}