extends ../template/inner

block title
    title About Us

block content
    <!-- / ========== baner ========== \ !-->
    section.about-us.main__banner_home
        .container
            +navigation_inner
            .col-md-7.panel_orange
                .panel__text
                    .panel__title
                        h3
                            | When banks say&nbsp
                            span.bold "NO"
                            | , we say&nbsp
                            span.bold "YES!"
                    .panel__subtitle
                        | Let our network of direct payday lenders
                        | compete for your business today!
                .panel__content
                    .panel__desc
                        | At LendNow we understand life can throw you a curve ball and put you in a situation where you need fast cash.If that situation does arise,know that yo can rely on LendNow if you need a payday loan to get you by untill your next payday. an installment loan to get you back on track. or a little loan to allow you to borrow a higher loan amount. Not only does LendNow provide you loan options,but also the ability to apply for a loan using the option that is most convenient to you. You can apply at a nearby store. The next time you need a quick cash, make LendNow your trusted lender.

                .panel__button
                    a(href="#").btn.btn-success
                        | APPLY NOW

    <!-- / ========== main content ========== \ !-->
    section.call-to-action.green-bg.about
        .container
            .col-md-8.cta__text_content
                .cta__text_title
                    | What we believe in / Why We're in Business
                .cta__text_subtitle
                    | Honesty. Transparency. Service. Support. And most of all, helping others in need
            .col-md-4
                a(href="#").btn.btn-danger
                    | APPLY NOW
    section.customers__columns
        .container
            .customers__main-title
                h3 THOUSANDS OF HAPPY CUSTOMERS CAN’T BE WRONG!
            ul.customers__list.row
                li.col-sm-4.customers__item
                    .customers__item_content
                        .customers__pic
                            img(src="#" alt="").customer__img
                        .customer__info
                            .customer__name
                                | Stephen Hill
                            .customer__acc
                                | CEO / FOUNDER
                        .customer__desc
                            | Lorem ipsum dolor sit amet, duis metus ligula amet in purus, vitae donec vestibu
                            | lum enim, tincidunt massa sit, convallis ipsum pede augue quisque arcu, nunc distinctio.
                li.col-sm-4.customers__item
                    .customers__item_content

                        .customers__pic

                            img(src="#" alt="").customer__img
                        .customer__info

                            .customer__name
                                | Walter McCoy

                            .customer__acc
                                | Web Developer
                        .customer__desc
                            | Lorem ipsum dolor sit amet, duis metus ligula amet in purus, vitae donec vestibu
                            | lum enim, tincidunt massa sit, convallis ipsum pede augue quisque arcu, nunc distinctio.
                li.col-sm-4.customers__item
                    .customers__item_content

                        .customers__pic
                            img(src="#" alt="").customer__img
                        .customer__info

                            .customer__name
                                | Nora Jonas
                            .customer__acc
                                | Marketing Strategist
                        .customer__desc
                            | Lorem ipsum dolor sit amet, duis metus ligula amet in purus, vitae donec vestibu
                            | lum enim, tincidunt massa sit, convallis ipsum pede augue quisque arcu, nunc distinctio.
            .more__info_btn
                a(href="#").btn.btn-danger
                    | MORE REVIEWS HERE
    section.strip_green
        .container
            .strip__title
                | When you need money fast, we're here to help
            .strip__text
                | Bad Credit, No Credit, No Problem
    section.call-to-action.cta_orange.about
        .container
            .cta__text_title
                | Why We Believe Payday Loans Are Important
            .cta__text.col-md-10.col-md-offset-1
                | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            .cta__button
                a(href="#").btn.btn-success
                    | APPLY NOW!
    section.about__wide-section
        .container-fluid
            .col-md-4.wide-section__img
            .col-md-6.col-md-offset-1.wide-section__content
                .ws__title
                    h3
                        | Call, Click or Come In to
                        | Get a Payday Loan
                .ws__desc

                    | If you're in search of a payday loan, chances are you need cash fast.
                    | At Speedy Cash we want to make applying for a payday loan as convenient
                    | as possible. That's why we offer multiple ways for you to apply. No matter
                    | how you choose to apply, Speedy Cash will always strive to make your
                    | payday loan process as Easy, Fast and Friendly as possible.
                ul.ws__options_list
                    li.ws__options_item
                        .ws__option_icon.pointer
                            i.fa.fa-mouse-pointer
                        .ws__options_content
                            .ws__options_title
                                | Online PAYDAY Loans
                            .ws__options_text
                                | Apply, receive and pay back installment loans online - all without ever leaving the comfort of your home
                            .ws__oprions_button
                                a(href="#").btn.btn-danger
                                    | APPLY NOW
                    li.ws__options_item
                        .ws__option_icon
                            i.fa.fa-map-marker
                        .ws__options_content
                            .ws__options_title
                                | PAYDAY Loans Near Me

                            .ws__options_text
                                | Visit a Speedy Cash location to apply for an installment loan in person.

                            .ws__oprions_button
                                a(href="#").btn.btn-danger
                                    | FIND A STORE
                    li.ws__options_item
                        .ws__option_icon
                            i.fa.fa-phone
                        .ws__options_content
                            .ws__options_title
                                | PAYDAY Loan by Phone

                            .ws__options_text
                                | If you're on the go, have limited Internet access, or there are no stores around, try our Loan by Phone service to apply.
                            .ws__oprions_button
                                a(href="#").btn.btn-danger
                                    | Call 1-888-333-1360 to Apply
    section.call-to-action.cta_orange.about
        .container
            .cta__text_title
                | Money when you need it most
            .cta__text.col-md-10.col-lg-offset-1
                | Speedy Cash installment loans give you the freedom to pay back your loan in full at any time, without penalties or fees. If an unexpected expense just popped up, or you're short on covering your bills this month, don’t stress - a Speedy Cash installment loan may be for you. We understand that you
                | may be under a lot of stress by the time you get to us, and the last thing you need to worry about is a stressful loan process. Speedy Cash always
                | aims to make the process as easy, fast and friendly as possible.
            .cta__button
                a(href="#").btn.btn-success
                    | APPLY NOW!
    section.payday-loan__faq
        .container
            .payday-loan__faq_title
                h3 Payday Loan Questions
            .faq__accordeon.panel-group(id='accordion')
                .panel.panel-danger
                    .panel-heading
                        h4.panel-title
                            a(data-toggle="collapse" data-parent="#accordion" href="#quest1").faq__question_link
                                .faq__question_text
                                    |How much money can I borrow with a payday loan?
                                span.icon
                                    i.fa.fa-chevron-down
                    .panel-collapse.collapse.in(id="quest1")
                        .panel-body
                            .faq__answer
                                |Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit.
                .panel.panel-danger
                    .panel-heading
                        h4.panel-title
                            a(data-toggle="collapse" data-parent="#accordion" href="#quest2").faq__question_link
                                .faq__question_text
                                    | What do I need to apply for a payday loan?
                                span.icon
                                    i.fa.fa-chevron-down

                    .panel-collapse.collapse(id="quest2")
                        .panel-body
                            .faq__answer
                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit.
                .panel.panel-danger
                    .panel-heading
                        h4.panel-title
                            a(data-toggle="collapse" data-parent="#accordion" href="#quest3").faq__question_link
                                .faq__question_text
                                    | Can I change my due date?
                                span.icon
                                    i.fa.fa-chevron-down
                    .panel-collapse.collapse(id="quest3")
                        .panel-body
                            .faq__answer
                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit.
                .panel.panel-danger
                    .panel-heading
                        h4.panel-title
                            a(data-toggle="collapse" data-parent="#accordion" href="#quest4").faq__question_link
                                .faq__question_text
                                    | When will I have to pay my payday loan back?
                                span.icon
                                    i.fa.fa-chevron-down
                    .panel-collapse.collapse(id="quest4")
                        .panel-body
                            .faq__answer
                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit.
                .panel.panel-danger
                    .panel-heading
                        h4.panel-title
                            a(data-toggle="collapse" data-parent="#accordion" href="#quest5").faq__question_link
                                .faq__question_text
                                    | When will I have to pay my payday loan back?
                                span.icon
                                    i.fa.fa-chevron-down
                    .panel-collapse.collapse(id="quest5")
                        .panel-body
                            .faq__answer
                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit.
            .faq__more_content
                .faq__more_text
                    | Have more questions?
                a(href="#").faq__more_link Visit our FAQ page.














