extends ../template/inner

block title
    title Bad Credit Payday Loans

block content
    <!-- / ========== baner ========== \ !-->
    section.bad-credit.main__banner_home
        .container
            +navigation_inner
            .col-md-5.col-md-offset-6.panel_orange
                .panel__text
                    .panel__title
                        h3 Bad Credit? No Problem!
                    .panel__subtitle
                        |“Bad Credit Payday Loans from Direct Lenders”
                .panel__content
                    ul.panel__check_list
                        li.panel__check_item
                            span.icon
                            span.check__item_text
                                |Bad Credit Payday Loans
                        li.panel__check_item
                            span.icon
                            span.check__item_text
                                | Payday Loans no Credit Check

                        li.panel__check_item
                            span.icon
                            span.check__item_text
                                | Fast Approval*. Fast Cash.
                .panel__button
                    a(href="#").btn.btn-success
                        |APPLY NOW
    <!-- / ========== main content ========== \ !-->
    +navigation_payload

    section.bad-credit__content
        .container
            .bad-credit__columns
                .col-md-4.bad-credit__content_col
                    figure.bc__content_pic
                        img(src="../img/decor/bank.png" alt="").bc__content_img
                    .bc__title
                        | Quick Loans Since 1997
                    .bc__desc
                        | Get cash instantly deposited to your opt+® Visa® prepaid debit card, pick up cash at a Speedy
                        | Cash location, or have funds deposited
                        | into your bank account.
            .col-md-4.bad-credit__content_col
                figure.bc__content_pic
                    img(src="../img/decor/calendar.png" alt="").bc__content_img
                .bc__title
                    | Direct Lender*
                .bc__desc
                    | Keep your loan as long as you’d like, up to the full loan term. Don’t need the cash for the full term? Choose to pay off your loan early to save in
                    | interest - no early payoff fees!
            .col-md-4.bad-credit__content_col
                figure.bc__content_pic
                    img(src="../img/decor/customer-service.png" alt="").bc__content_img
                .bc__title
                    | Call Click or Come In

                .bc__desc
                    | We strive to make sure you fully understand your loan and your questions are quickly addressed -
                    | all with a smile on our faces. Just ask our Customers!
    section.related__articles
        .title__strip_green
            .container
                .strip__text
                    |Read Latest from Articles
        .related__articles_content

            article.row.ra__post
                .container
                    a(href="#").ra__post_link

                        .col-md-5.ra__pic
                            img(src="../img/content/blog2.jpg" alt="").ra__img
                        .col-md-7.ra__content
                            .ra__content_title
                                h2 About our installment loans
                            .ra__content_desc
                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                | veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                | commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                                | velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                                | cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                                | est laborum.
            article.row.ra__post.bg_grey
                .container
                    a(href="#").ra__post_link
                        .col-md-5.ra__pic.pull-right
                            img(src="../img/content/blog1.jpg" alt="").ra__img
                        .col-md-7.ra__content
                            .ra__content_title
                                h2 Bad Credit <br>NO PROBLEM

                            .ra__content_desc
                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                | veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                | commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                                | velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                                | cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                                | est laborum.
    section.call-to-action.cta_orange
        .container
            .cta__text_title
                | Money when you need it most
            .cta__text_desc
                | Get a payday loan fast with Speedy Cash. Apply now in just minutes, and get cash as soon as tomorrow.
            .cta__button
                a(href="#").btn.btn-success.btn-lg.green APPLY NOW!


















