extends ../template/inner

block title
    title FAQ

block content
    <!-- / ========== baner ========== \ !-->
    section.payload.main__banner_home.faq
        .container
            +navigation_inner
            .col-md-6.panel_orange
                .panel__text
                    .panel__title
                        h3
                            | FAQS & POLICIES
                .panel__content
                    .panel__desc
                        | We know payday loans and cash advances can
                        | get confusing. Our goal is to make this
                        | process as quick and painless as possible.
                        | Below are some of our most commonly
                        | asked questions and policies.

                .panel__button
                    a(href="#").btn.btn-success
                        | APPLY NOW

    <!-- / ========== main content ========== \ !-->

    .strip_green.strip__green_faq
        .container
         .strip__title FAQs & Policies
    section.faq__content
        .container
            .section__title
                h3  Overview
            hr
            .faq__accordeon.panel-group(id='faqAccordion')
                .panel.panel-danger
                    .panel-heading
                        h4.panel-title
                            a(data-toggle="collapse" data-parent="#faqAccordion" href="#quest1").faq__question_link
                                .faq__question_text
                                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                                span.icon
                                    i.fa.fa-chevron-down
                    .panel-collapse.collapse.in(id="quest1")
                        .panel-body
                            .faq__answer
                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                | Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                | aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                                | voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                                | occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit.
                .panel.panel-danger
                    .panel-heading
                        h4.panel-title
                            a(data-toggle="collapse" data-parent="#faqAccordion" href="#quest2").faq__question_link
                                .faq__question_text
                                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                                span.icon
                                    i.fa.fa-chevron-down
                    .panel-collapse.collapse(id="quest2")
                        .panel-body
                            .faq__answer
                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                | Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                | aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                                | voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                                | occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit.
                .panel.panel-danger
                    .panel-heading
                        h4.panel-title
                            a(data-toggle="collapse" data-parent="#faqAccordion" href="#quest3").faq__question_link
                                .faq__question_text
                                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                                span.icon
                                    i.fa.fa-chevron-down
                    .panel-collapse.collapse(id="quest3")
                        .panel-body
                            .faq__answer
                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                | Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                | aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                                | voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                                | occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit.
                .panel.panel-danger
                    .panel-heading
                        h4.panel-title
                            a(data-toggle="collapse" data-parent="#faqAccordion" href="#quest4").faq__question_link
                                .faq__question_text
                                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                                span.icon
                                    i.fa.fa-chevron-down
                    .panel-collapse.collapse(id="quest4")
                        .panel-body
                            .faq__answer
                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                | Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                | aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                                | voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                                | occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit.
                .panel.panel-danger
                    .panel-heading
                        h4.panel-title
                            a(data-toggle="collapse" data-parent="#faqAccordion" href="#quest5").faq__question_link
                                .faq__question_text
                                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                                span.icon
                                    i.fa.fa-chevron-down
                    .panel-collapse.collapse(id="quest5")
                        .panel-body
                            .faq__answer
                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                | Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                | aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                                | voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                                | occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit.















