extends ../template/inner

block title
    title How It Works

block content
    <!-- / ========== baner ========== \ !-->
    section.howitworks.main__banner_home.payload
        .container
            +navigation_inner('How It Works')
            .col-md-6.panel_orange
                .panel__text
                    .panel__title
                        h3
                            | HOW IT WORKS?
                .panel__content
                    .panel__desc
                        | Need cash and need it now?
                        | Check out our instant payday loans options!
                .col-sm-4.panel__columns
                    .panel__col_img.apply
                        span.sprite__payloan.sprite-Mouse-Euro
                    .panel__col_text
                        | Apply Online, Pick Up Cash at a Store
                .col-sm-4.panel__columns
                    .panel__col_img.directions
                        span.sprite__payloan.sprite-Monitor-Euro
                    .panel__col_text
                        | Apply Online, Select Instant Funding to Opt+
                .col-sm-4.panel__columns
                    .panel__col_img.coins
                        span.sprite__payloan.sprite-hand-Euro-icon
                    .panel__col_text
                        | Apply in Store, Leave with Cash in Hand


                .panel__button
                    a(href="#").btn.btn-success
                        | APPLY NOW

    <!-- / ========== main content ========== \ !-->

    +navigation_payload('How It Works')

    section.payload__content.how__content
        .container

            .section__title
                h3 Fast Payday Loans for a Fast Paced Life
                .section__title_text
                    | Need cash in a hurry? When you're in a real cash emergency, you don't always have time to wait for hours or sometimes even days to get cash - you need
                    | cash right away. In many cases payday lenders can offer fast payday loans, but what you may really be looking for is an instant payday loan.
                    | Instant payday loans are funding immediately after you have been approved and signed your loan documents to receive cash.
            .payload__columns
                .col-md-4.payload__content_col
                    .pl__content_icon.chrono
                        span.sprite__payloan.sprite-bank
                    .pl__title
                        | Convenient Funding Options


                    .pl__desc
                        | Get cash instantly deposited to your opt+® Visa® prepaid debit card, pick up cash at a Speedy Cash location, or have funds deposited into your bank account.
                .col-md-4.payload__content_col
                    .pl__content_icon.forward
                        span.sprite__payloan.sprite-calendar
                    .pl__title
                        | No Early Payoff Fees


                    .pl__desc
                        | Keep your loan as long as you’d like, up to the full loan term. Don’t need the cash for the full term? Choose to pay off your loan early to save in interest - no early payoff fees!

                .col-md-4.payload__content_col
                    .pl__content_icon.location
                        span.sprite__payloan.sprite-customer-service
                    .pl__title
                        | Friendly Customer Service



                    .pl__desc
                        | We strive to make sure you fully understand your loan and your questions are quickly addressed - all with a smile on our faces. Just ask our Customers!


    section.payload__wide-section.howitworks__ws
        .container-fluid
            .col-md-4.wide-section__img
            .col-md-6.col-md-offset-1.wide-section__content
                .ws__title
                    h3
                        | Call, Click or Come In to
                        | Get a Payday Loan
                .ws__desc

                    | If you're in search of a payday loan, chances are you need cash fast.
                    | At Speedy Cash we want to make applying for a payday loan as convenient
                    | as possible. That's why we offer multiple ways for you to apply. No matter
                    | how you choose to apply, Speedy Cash will always strive to make your
                    | payday loan process as Easy, Fast and Friendly as possible.
                ul.ws__options_list
                    li.ws__options_item
                        .ws__option_icon.pointer
                            i.fa.fa-mouse-pointer
                        .ws__options_content
                            .ws__options_title
                                | Online PAYDAY Loans
                            .ws__options_text
                                | Apply, receive and pay back installment loans online - all without ever leaving the comfort of your home
                            .ws__oprions_button
                                a(href="#").btn.btn-danger
                                    | APPLY NOW
                    li.ws__options_item
                        .ws__option_icon
                            i.fa.fa-map-marker
                        .ws__options_content
                            .ws__options_title
                                | PAYDAY Loans Near Me

                            .ws__options_text
                                | Visit a Speedy Cash location to apply for an installment loan in person.

                            .ws__oprions_button
                                a(href="#").btn.btn-danger
                                    | FIND A STORE
                    li.ws__options_item
                        .ws__option_icon
                            i.fa.fa-phone
                        .ws__options_content
                            .ws__options_title
                                | PAYDAY Loan by Phone

                            .ws__options_text
                                | If you're on the go, have limited Internet access, or there are no stores around, try our Loan by Phone service to apply.
                            .ws__oprions_button
                                a(href="#").btn.btn-danger
                                    | Call 1-888-333-1360 to Apply
    section.call-to-action.cta_orange.about
        .container
            .cta__text_title
                | Installment Loans up to $2,600
            .cta__text.col-md-10.col-lg-offset-1
                | Speedy Cash installment loans give you the freedom to pay back your loan in full at any time, without penalties or fees.
                | If an unexpected expense just popped up, or you're short on covering your bills this month, don’t stress -
                | a Speedy Cash installment loan may be for you. We understand that you may be under a lot of stress
                | by the time you get to us, and the last thing you need to worry about is a stressful loan process.
                | Speedy Cash always aims to make the process as easy, fast and friendly as possible.
            .cta__button
                a(href="#").btn.btn-success
                    | APPLY NOW!
    section.strip__orange
        .container
            .section__title
                h3 Instant Payday Loans
            .section__text
                |The need for cash can pop up at any time, and usually, it’s the most inconvenient time. Speedy Cash strives to make applying for an installment loan as convenient as possible. With our call, click or come in options to apply, it doesn’t matter where you are or what time it is - Speedy Cash is here.















