extends ../template/inner

block title
    title Payload UK

block content
    <!-- / ========== baner ========== \ !-->
    section.payload.main__banner_home
        .container
            +navigation_inner
            .col-md-offset-7.col-md-5.panel_orange
                .panel__text
                    .panel__title
                        h3
                            | Payday Loans UK -
                            | what you need to know
                .panel__content
                    .panel__desc
                        | Getting a payday loan can be as easy as 1,2,3!
                        | Check out our instant payday loans options!
                .col-sm-4.panel__columns
                    .panel__col_img.apply
                        span.sprite__payloan.sprite-Apply
                    .panel__col_text
                        |Fill Out a Payday Loan Application
                .col-sm-4.panel__columns
                    .panel__col_img.directions
                        span.sprite__payloan.sprite-directions
                    .panel__col_text
                        | Receive a Lending Decision
                .col-sm-4.panel__columns
                    .panel__col_img.coins
                        span.sprite__payloan.sprite-coins-orange
                    .panel__col_text
                        | Get Your Cash


                .panel__button
                    a(href="#").btn.btn-success
                        | APPLY NOW

    <!-- / ========== main content ========== \ !-->

    +navigation_payload

    section.how-apply
        .container
            .section__title
                h3 How to Apply for a Payday Loan
                .section__title_text
                    | There are a couple of different ways to apply for a payday loan, including payday loans online, in a store or over the phone.
                    | Some of the steps vary depending on how you apply and the lender you apply with, but they all have the same basic process.
            .how-apply__cols
                ul.how-apply__list
                    li.how-apply__item
                        .item__icon
                            span.sprite__payloan.sprite-apply-white
                        .item__text Apply
                    li.how-apply__item
                        .item__icon
                            span.sprite__payloan.sprite-directions-white
                        .item__text Lending Decision
                    li.how-apply__item
                        .item__icon
                            span.sprite__payloan.sprite-sign-white
                        .item__text Sign Documents
                    li.how-apply__item
                        .item__icon
                            span.sprite__payloan.sprite-coins-white
                        .item__text Get Cash
                    li.how-apply__item
                        .item__icon
                            span.sprite__payloan.sprite-repay-white
                        .item__text Repay
                .section__button
                    a(href="#").btn.btn-danger APPLY NOW

    section.payload__content
        .container

            .section__title
                h3 Get a Payday Loan from Speedy Cash
                .section__title_text
                    | To put the need for a payday loan into perspective, say you're on your way to work and your car breaks down. You used the rest of the money in your bank account to pay to get your car towed, but now you don't have enough to pay to get your car repaired. You don't need a lot of cash,
                    | and you don't need it very long, you just need some cash to get your car back on the road before pay day.
                    | A payday loan could provide you the cash you need. You borrow a small amount of money, and pay it back - along with the fees - on your next pay day.
                    | Payday lenders like Speedy Cash offer multiple ways to get a payday loan, so you can choose the option that most convenient for you.
            .payload__columns
                .col-md-4.payload__content_col
                    .pl__content_icon.chrono
                        span.sprite__payloan.sprite-chronometer
                    .pl__title
                        | Instant Lending Decision

                    .pl__desc
                        | Apply online in minutes to get your obligation lending decision. No faxing and no hassle.
                .col-md-4.payload__content_col
                    .pl__content_icon.forward
                        span.sprite__payloan.sprite-forward
                    .pl__title
                        | State Licensed, Direct Lender


                    .pl__desc
                        | We abide by all state laws and regulations and as a direct lender you'll get your cash directly from us.
                .col-md-4.payload__content_col
                    .pl__content_icon.location
                        span.sprite__payloan.sprite-location
                    .pl__title
                        | Your Loan Your Way


                    .pl__desc
                        | Choose how you would like to apply - 100% online, over the phone, or at a Speedy Cash location.


    section.payload__wide-section
        .container-fluid
            .col-md-4.wide-section__img
            .col-md-6.col-md-offset-1.wide-section__content
                .ws__title
                    h3
                        | Call, Click or Come In to
                        | Get a Payday Loan
                .ws__desc

                    | If you're in search of a payday loan, chances are you need cash fast.
                    | At Speedy Cash we want to make applying for a payday loan as convenient
                    | as possible. That's why we offer multiple ways for you to apply. No matter
                    | how you choose to apply, Speedy Cash will always strive to make your
                    | payday loan process as Easy, Fast and Friendly as possible.
                ul.ws__options_list
                    li.ws__options_item
                        .ws__option_icon.pointer
                            i.fa.fa-mouse-pointer
                        .ws__options_content
                            .ws__options_title
                                | Online PAYDAY Loans
                            .ws__options_text
                                | Apply, receive and pay back installment loans online - all without ever leaving the comfort of your home
                            .ws__oprions_button
                                a(href="#").btn.btn-danger
                                    | APPLY NOW
                    li.ws__options_item
                        .ws__option_icon
                            i.fa.fa-map-marker
                        .ws__options_content
                            .ws__options_title
                                | PAYDAY Loans Near Me

                            .ws__options_text
                                | Visit a Speedy Cash location to apply for an installment loan in person.

                            .ws__oprions_button
                                a(href="#").btn.btn-danger
                                    | FIND A STORE
                    li.ws__options_item
                        .ws__option_icon
                            i.fa.fa-phone
                        .ws__options_content
                            .ws__options_title
                                | PAYDAY Loan by Phone

                            .ws__options_text
                                | If you're on the go, have limited Internet access, or there are no stores around, try our Loan by Phone service to apply.
                            .ws__oprions_button
                                a(href="#").btn.btn-danger
                                    | Call 1-888-333-1360 to Apply
    section.call-to-action.cta_orange.about
        .container
            .cta__text_title
                | Money when you need it most
            .cta__text.col-md-10.col-lg-offset-1
                | Speedy Cash installment loans give you the freedom to pay back your loan in full at any time, without penalties or fees. If an unexpected expense just popped up, or you're short on covering your bills this month, don’t stress - a Speedy Cash installment loan may be for you. We understand that you
                | may be under a lot of stress by the time you get to us, and the last thing you need to worry about is a stressful loan process. Speedy Cash always
                | aims to make the process as easy, fast and friendly as possible.
            .cta__button
                a(href="#").btn.btn-success
                    | APPLY NOW!















