//vars
$footer-height: rem(593px);
$container-width: rem(1366px);

$orange: #e9603c;
$green: #71b13b;
$black: #333333;
$grey: #666666;




// layout
@import "_misc/normalize";
@import "_misc/fonts";
@import "_misc/mixins";
@import "_misc/adjustment";
@import "plugins/font-awesome";
@import "_misc/sprites";


// styles

@import "sections/header";
@import "sections/navigation";
@import "sections/main_banner";
@import "sections/cta";
@import "sections/welcom";
@import "sections/infostrip";
@import "sections/promices";
@import "sections/why";
@import "sections/paydayloans";
@import "sections/deals";
@import "sections/latest_blog";
@import "sections/rules";
@import "sections/contact_us";

@import "sections/footer";



//media



