.sprite {
    background-image: url(../img/decor/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-check {
    width: 59px;
    height: 59px;
    background-position: -5px -5px;
}

.sprite-check-small {
    width: 32px;
    height: 32px;
    background-position: -74px -5px;
}

.sprite-clock {
    width: 65px;
    height: 65px;
    background-position: -116px -5px;
}

.sprite-coins-and-hand {
    width: 87px;
    height: 83px;
    background-position: -191px -5px;
}

.sprite-email {
    width: 21px;
    height: 21px;
    background-position: -288px -5px;
}

.sprite-email-1 {
    width: 22px;
    height: 22px;
    background-position: -319px -5px;
}

.sprite-inspection {
    width: 62px;
    height: 60px;
    background-position: -288px -37px;
}

.sprite-moneybag {
    width: 91px;
    height: 91px;
    background-position: -5px -107px;
}

.sprite-percent {
    width: 61px;
    height: 63px;
    background-position: -106px -107px;
}

.sprite-phone {
    width: 22px;
    height: 22px;
    background-position: -351px -5px;
}

.sprite-phone-1 {
    width: 150px;
    height: 150px;
    background-position: -177px -107px;
}

.sprite-phone-2 {
    width: 22px;
    height: 20px;
    background-position: -360px -37px;
}

.sprite-phone-3 {
    width: 22px;
    height: 22px;
    background-position: -74px -67px;
}

.sprite-profile {
    width: 64px;
    height: 59px;
    background-position: -5px -267px;
}

.sprite-projects {
    width: 69px;
    height: 65px;
    background-position: -79px -267px;
}

.sprite-suitcase {
    width: 81px;
    height: 80px;
    background-position: -158px -267px;
}

.sprite-target {
    width: 176px;
    height: 176px;
    background-position: -392px -5px;
}

.sprite-trophy {
    width: 136px;
    height: 154px;
    background-position: -337px -191px;
}

.sprite-zoom {
    width: 17px;
    height: 15px;
    background-position: -106px -191px;
}

.sprite-zoom-1 {
    width: 17px;
    height: 14px;
    background-position: -133px -191px;
}

.sprite-zoom-2 {
    width: 17px;
    height: 15px;
    background-position: -483px -191px;
}
