header.header
    .container
        .col-xs-6.col-lg-5.col-md-4.col-sm-3.left-block
            .logo
                a(href="index.html").logo__link
                    img(src="img/logo/LendNow.png" alt="").logo__pic
        .col-xs-6.col-lg-6.col-md-7.col-lg-offset-1.col-sm-9.right-block

            .contacts__left
                .contacts__icon
                    i.fa.fa-phone
                .contacts__text
                    .contacts__text_upper
                        | 2150 Coral Way | Suite 1
                    .contacts__text_bottom
                        | Miami, FL 33145
            .contacts__right
                .contacts__icon
                    i.fa.fa-envelope-open-o
                .contacts__text
                    .contacts__text_upper
                        | 1-866-257-2673
                    .contacts__text_bottom
                        | info@goukapital.com




